<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amfreview>
            <general>
                <show_reviews_from_all_stores>0</show_reviews_from_all_stores>
            </general>
        </amfreview>
    </default>
</config>